{% extends "base.html" %}
{% block title %} Домашняя страница {% endblock %}
{% block content %}
    {% for obj in object_list %}
        <div class="card mx-2 my-2" style="width: 18rem;">
            <img src="{{ obj.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ obj }}</h5>
                <p class="card-text">
                    <p>{{ obj.price }} руб.</p>
                    <p> Просмотрено: {{ obj.date_view }}</p>
                    <p> Площадь: {{ obj.square }}</p>
                    <p> Отделка: {{ obj.decor|yesno:"Да,Нет" }}</p>
                    {% if obj.is_metro %}
                        <p> Метро: {{ obj.metro_name }}</p>
                    {% else %}
                        <p> МЦД: {{ obj.mcd_name }}</p>
                    {% endif %}
                    <p> Дата сдачи: {{ obj.date }}</p>
                    <p> Аренда: {{ obj.rent }} руб.</p>
                    <p> Ипотека: {{ obj.mortgage }} руб.</p>
                </p>
                <a href="{{ obj.url }}" class="btn btn-primary">{{ obj }}</a>
            </div>
        </div>
    {% empty %}
        <h3>К сожалению, по Вашему запросу ничего не найдено.</h3>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="GET" action="">
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </div>
    </div>

{% endblock %}