{% extends "base.html" %}
{% block title %} Домашняя страница {% endblock %}
{% block content %}
    {% for obj in object_list %}
        <div class="card mx-2 my-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ obj }}</h5>
                <p class="card-text">
                    <p>{{ obj.price }} руб.</p>
                    <p> Просмотрено: {{ obj.date_view }}</p>
                    <p> Площадь: {{ obj.square }}</p>
                    <p> Отделка: {{ obj.decor|yesno:"Да,Нет" }}</p>
                    {% if obj.is_metro %}
                        <p> Метро: {{ obj.metro_name }}</p>
                    {% else %}
                        <p> МЦД: {{ obj.mcd_name }}</p>
                    {% endif %}
                    <p> Дата сдачи: {{ obj.date }}</p>
                    <p> Аренда: {{ obj.rent }} руб.</p>
                    <p> Ипотека: {{ obj.mortgage }} руб.</p>
                </p>
                <a href="{{ obj.url }}" class="btn btn-primary">{{ obj }}</a>
            </div>
        </div>
    {% endfor %}
    <form method="POST" action="">
        <p><select name="dev">
            {% for dev in dev_list %}
                <option>{{ dev.name }}</option>
            {% endfor %}
        </select></p>
        <p><input type="submit"></p>
    </form>
{% endblock %}